In [1]:
import pandas as pd 
import numpy as np
from matplotlib import  pyplot as plt

In [2]:
df = pd.read_csv(r"C:\Users\alisa\OneDrive\Desktop\Machine Learning Note\Handling Missing Data\data_science_job.csv")
df.sample(2)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,training_hours,target
11233,11903,city_65,0.802,Male,Has relevent experience,no_enrollment,Graduate,STEM,20.0,<10,Pvt Ltd,35.0,0.0
400,5673,city_45,0.890,Male,No relevent experience,no_enrollment,Graduate,STEM,9.0,50-99,Pvt Ltd,51.0,0.0

In [4]:
df.isnull().sum()

enrollee_id                  0
city                         0
city_development_index     479
gender                    4508
relevent_experience          0
enrolled_university        386
education_level            460
major_discipline          2813
experience                  65
company_size              5938
company_type              6140
training_hours             766
target                       0
dtype: int64

In [5]:
df.isnull().mean()*100 # i want to know the % of missing value

enrollee_id                0.000000
city                       0.000000
city_development_index     2.500261
gender                    23.530640
relevent_experience        0.000000
enrolled_university        2.014824
education_level            2.401086
major_discipline          14.683161
experience                 0.339284
company_size              30.994885
company_type              32.049274
training_hours             3.998330
target                     0.000000
dtype: float64

In [6]:
df.shape

(19158, 13)

In [7]:
cols = [var for var in df.columns if df[var].isnull().mean() < 0.05 and df[var].isnull().mean() > 0] # display morethan less then 5% value
cols

['city_development_index',
 'enrolled_university',
 'education_level',
 'experience',
 'training_hours']