In [1]:
import numpy as np 
import pandas as pd 

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer , KNNImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv(r"C:\Users\alisa\OneDrive\Desktop\Machine Learning Note\train (1).csv" , usecols=['Age' , 'Fare' , 'Pclass','Survived'])

In [4]:
df.sample(5)

     Survived  Pclass   Age     Fare
828         1       3   NaN   7.7500
775         0       3  18.0   7.7500
391         1       3  21.0   7.7958
122         0       2  32.5  30.0708
753         0       3  23.0   7.8958

In [5]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [6]:
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=.3,random_state=42)

In [8]:
X_train

     Pclass   Age      Fare
445       1   4.0   81.8583
650       3   NaN    7.8958
172       3   1.0   11.1333
450       2  36.0   27.7500
314       2  43.0   26.2500
..      ...   ...       ...
106       3  21.0    7.6500
270       1   NaN   31.0000
860       3  41.0   14.1083
435       1  14.0  120.0000
102       1  21.0   77.2875

[623 rows x 3 columns]

In [9]:
knn = KNNImputer()
X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.fit_transform(X_test)

In [10]:
lr = LogisticRegression()

lr.fit(X_train_trf,y_train)

y_pred = lr.predict(X_test_trf)

accuracy_score(y_test,y_pred)

0.7238805970149254

In [21]:
#https://scikit-learn.org/1.5/modules/generated/sklearn.impute.KNNImputer.html
knn = KNNImputer(n_neighbors=1,weights='distance')
X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.fit_transform(X_test)

In [22]:
lr = LogisticRegression()

lr.fit(X_train_trf,y_train)

y_pred = lr.predict(X_test_trf)

accuracy_score(y_test,y_pred)

0.7201492537313433

In [25]:
si = SimpleImputer()
X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [26]:
lr = LogisticRegression()

lr.fit(X_train_trf2,y_train)

y_pred2 = lr.predict(X_test_trf2)

accuracy_score(y_test,y_pred2)

0.7238805970149254