In [34]:
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import SimpleImputer,MissingIndicator

In [3]:
df  =pd.read_csv(r"C:\Users\alisa\OneDrive\Desktop\Machine Learning Note\train (1).csv",usecols=['Age' , 'Fare' , 'Survived'])
df.sample(2)

     Survived   Age  Fare
732         0   NaN   0.0
346         1  40.0  13.0

In [4]:
df.isnull().sum()

Survived      0
Age         177
Fare          0
dtype: int64

In [6]:
X = df.iloc[:,1:3]
y = df.iloc[:,0]

In [9]:
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=.3,random_state=42)

In [11]:
si = SimpleImputer(strategy='mean')

X_train = si.fit_transform(X_train)
X_test = si.fit_transform(X_test)

In [13]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)

from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.6529850746268657

Adding imputer

In [30]:
df  =pd.read_csv(r"C:\Users\alisa\OneDrive\Desktop\Machine Learning Note\train (1).csv",usecols=['Age' , 'Fare' , 'Survived'])
df.sample(2)

     Survived   Age    Fare
232         0  59.0  13.500
7           0   2.0  21.075

In [31]:
X = df.iloc[:,1:3]
y = df.iloc[:,0]

In [32]:
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=.3,random_state=42)

In [36]:
mi = MissingIndicator()

X_train_indicator = mi.fit_transform(X_train)
X_test_indicator=mi.fit_transform(X_test)

In [37]:
X_train['Age_NA'] = X_train_indicator

In [39]:
X_train

      Age      Fare  Age_NA
445   4.0   81.8583   False
650   NaN    7.8958    True
172   1.0   11.1333   False
450  36.0   27.7500   False
314  43.0   26.2500   False
..    ...       ...     ...
106  21.0    7.6500   False
270   NaN   31.0000    True
860  41.0   14.1083   False
435  14.0  120.0000   False
102  21.0   77.2875   False

[623 rows x 3 columns]

In [40]:
X_test['Age_NA'] = X_test_indicator
X_test

      Age     Fare  Age_NA
709   NaN  15.2458    True
439  31.0  10.5000   False
840  20.0   7.9250   False
720   6.0  33.0000   False
39   14.0  11.2417   False
..    ...      ...     ...
821  27.0   8.6625   False
633   NaN   0.0000    True
456  65.0  26.5500   False
500  17.0   8.6625   False
430  28.0  26.5500   False

[268 rows x 3 columns]

In [41]:
si = SimpleImputer()

X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [42]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()

clf.fit(X_train_trf2,y_train)

y_pred = clf.predict(X_test_trf2)

from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.6455223880597015

In [43]:
si = SimpleImputer(add_indicator=True)
X_train = si.fit_transform(X_train)
X_test = si.transform(X_test)

In [45]:
X_train

array([[  4.        ,  81.8583    ,   0.        ,   0.        ],
       [ 29.25635271,   7.8958    ,   1.        ,   1.        ],
       [  1.        ,  11.1333    ,   0.        ,   0.        ],
       ...,
       [ 41.        ,  14.1083    ,   0.        ,   0.        ],
       [ 14.        , 120.        ,   0.        ,   0.        ],
       [ 21.        ,  77.2875    ,   0.        ,   0.        ]])

In [44]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()

clf.fit(X_train_trf2,y_train)

y_pred = clf.predict(X_test_trf2)

from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.6455223880597015