In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\alisa\OneDrive\Desktop\Machine Learning Note\Encoding\cars.csv")

In [2]:
df.sample(3)

       brand  km_driven    fuel        owner  selling_price
7703    Jeep      17000  Petrol  First Owner        4100000
7738  Maruti      10000  Petrol  First Owner         390000
2161    Tata     110000  Diesel  First Owner         360000

In [8]:
df['fuel'].value_counts()

fuel
Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: count, dtype: int64

In [9]:
df['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

In [10]:
df['brand'].value_counts()

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Force               6
Land                6
Isuzu               5
Kia                 4
Ambassador          4
Daewoo              3
MG                  3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [11]:
df.sample(1)

     brand  km_driven    fuel        owner  selling_price
6974   BMW       8500  Diesel  First Owner        5500000

In [12]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train, y_test = train_test_split(df.iloc[:,0:4] , df.iloc[:,-1:] , test_size=.3 , random_state=0)

In [13]:
from sklearn.preprocessing import OneHotEncoder , OrdinalEncoder
from sklearn.compose import ColumnTransformer
transformer = ColumnTransformer(transformers=[
    ('tnf1' , OneHotEncoder(sparse_output=False , drop='first') , ['fuel','owner']),
] , remainder='passthrough')

In [15]:
transformer.fit_transform(X_train).shape

(5689, 9)

In [17]:
transformer.fit_transform(X_test).shape

(2439, 9)

In [18]:
dff = pd.read_csv(r"C:\Users\alisa\OneDrive\Desktop\Machine Learning Note\Encoding\covid_toy.csv")