In [2]:
import pandas as pd
df = pd.read_csv(r"C:\Users\alisa\OneDrive\Desktop\Machine Learning Note\Pandas Profiling\train (1).csv")

In [3]:
df.sample(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
447,448,1,1,"Seward, Mr. Frederic Kimber",male,34.0,0,0,113794,26.5500,NaN,S
164,165,0,3,"Panula, Master. Eino Viljami",male,1.0,4,1,3101295,39.6875,NaN,S
125,126,1,3,"Nicola-Yarred, Master. Elias",male,12.0,1,0,2651,11.2417,NaN,C

pip install ydata-profiling

In [5]:
from ydata_profiling import ProfileReport
prof = ProfileReport(df)
prof.to_file(output_file='EDA.html')

Summarize dataset: 100%|██████████| 47/47 [00:02<00:00, 20.72it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.83s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  1.43it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 76.92it/s]